@import "tailwindcss";

@keyframes float {


  0%, 100% { 
    transform: translateY(0px) rotate(0deg); 
  }
  50% { 
    transform: translateY(-20px) rotate(180deg); 
  }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.cursor-pointer{
  cursor: pointer !important;
}